.container {
    border: 1px solid blue;
    padding: 10px;

    text-align: center;

    cursor: pointer;

    transition: 0.3s;
}

.disabled {
    border-color: gray;
    background-color: #4d4d4d;
    color: lightgray;
    cursor: default;
}

.container:hover {
    background-color: lightblue;
}

.container.disabled:hover {
    background-color: #4d4d4d;
}
